@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #77c2cc;
}

.title {
  color: rgb(209, 78, 111);
  font-family: 'Russo One', sans-serif;
}

.preview {
  background-color: white;
  padding: .4rem;
}

.preview img {
  max-width: 100%;
}

textarea, .preview {
  min-height: 400px !important;
  border: 1px solid rgb(175, 175, 175);
  box-shadow: 1px 1px 10px 2px #2892a0;
}
